.signupPage {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    display: flex;
    justify-content: center;

    margin-top: 16px;
  }
}
