@import "styles";

.item {
  max-width: 100%;
  width: 100%;

  .body {
    display: flex;
  }

  section {
    margin-bottom: 50px;

    h3 {
      font-size: 24px;
      font-weight: 600;

      margin-bottom: 16px;
    }
  }

  .content {
    max-width: 710px;
    width: 100%;

    margin-right: 30px;
  }

  .itemType {
    font-size: 14px;
    color: $gray;

    margin-bottom: 8px;
  }

  .photos {
    //background: $primary;
    position: relative;
    height: 600px;


    &__bg {
      position: absolute;
      z-index: -2;

      border: 1px solid gray;

      img {
        height: 600px;
        object-fit: cover;

        filter: blur(15px);
        opacity: .4;
      }
    }

    &__img {
      img {
        height: 600px;
        object-fit: contain;
      }
    }
  }

  .title,
  .price {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 16px;
  }

  .address {
    font-size: 16px;
    //font-weight: 500;

    margin-bottom: 24px;
  }

  .characteristics {

  }

  .sidebar {
    max-width: 300px;
    width: 100%;

    .info {
      .user {
        display: flex;
        align-items: center;

        margin-top: 25px;

        cursor: pointer;

        .userImg {
          margin-right: 12px;

          img {
            width: 70px;
            border-radius: 50%;
            border: 2px solid $gray;
          }
        }

        .userInfo {
          .userEmail {
            font-weight: 500;
          }
        }

      }
    }
  }
}

@media (max-width: $mediaMobile) {
  .item {
    section {
      margin-bottom: 16px;
    }

    .content {
      max-width: 100%;
      margin-bottom: 16px;
    }

    .title,
    .price {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .photos {
      height: 300px;

      img {
        height: 300px;
      }
    }

    .sidebar {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }
}
