.field {
  margin-bottom: 8px;
  &:hover {
    .label {
      transform: translateY(-2px);
    }
  }

  .label {
    font-size: 14px;
    color: #c4c4c4;

    margin-bottom: 4px;

    transition: all 0.2s;
  }

  &:last-of-type {
    margin-bottom: 16px;
  }
}
