.cart {
  position: fixed;
  // display: none;
  top: 20px;
  right: 20px;
  border: 1px solid #151515;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 15px;
  min-width: 400px;
  min-height: 600px;

  z-index: 10;

  &__close {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 6px;

    cursor: pointer;
  }

  &__counter {
    font-size: 16px;
    font-weight: 600;
  }

  &__items {
    margin: 15px 0;
    max-height: 530px;
    overflow-y: auto;
  }
}

.cart-header {
  border-bottom: 1px solid #151515;
  padding-bottom: 5px;
}

.cart-empty {
  font-weight: 500;
  font-size: 16px;
}
