@import "./../../../../style/variables";

.container {

}

.title {
  font-size: 18px;

  font-weight: 600;

  text-transform: uppercase;

  margin-bottom: 8px;
}

.filter {
  display: flex;
}

.label {
  margin-bottom: 6px;
  margin-bottom: 4px;
}

.name {
  max-width: 300px;
  width: 100%;

  margin-right: 12px;
}

.itemTypeId {
  max-width: 300px;
  width: 100%;
}

.creator {
  max-width: 300px;
  width: 100%;
}

.selectPrice {
  max-width: 150px;
}

.price {
  @include duo();
}

.selectDate {
  position: relative;
}

.calendar {
  position: absolute;
}

.name, .itemTypeId, .creator, .selectPrice {
  margin-right: 12px;
}

@media (max-width: 600px) {
  .container {
    position: absolute;
    background: #fff;
    z-index: 10;
  }
  .filter {
    display: block;

    padding: 16px 16px 16px 0;
  }

  .name, .itemTypeId, .creator, .selectPrice, .selectDate {
    max-width: 100%;

    margin: 0 0 8px 0;
  }

}
