@import "src/style/variables.scss";

.button {
  display: block;
  max-width: 200px;
  width: 100%;

  background: #212121;

  font-size: 14px;
  color: #fff;

  padding: 8px 16px;

  border-radius: 30px;

  text-transform: lowercase;
  cursor: pointer;

  border: none;

  transition: 0.1s all;

  -webkit-box-shadow: 4px 4px 18px 6px rgba(33, 33, 33, 0.05);
  -moz-box-shadow: 4px 4px 18px 6px rgba(33, 33, 33, 0.05);
  box-shadow: 4px 4px 18px 6px rgba(33, 33, 33, 0.05);

  &:hover {
    background: #121212;
  }

  &:active {
    background: #121212;
    transform: scale(0.98);
    // transform: translate(2px, 1px);
  }

  &[data-br="br-0"] {
    border-radius: 0;
  }

  &[data-br="br-1"] {
    border-radius: 4px;
  }

  &[data-size="big"] {
    padding: 18px 20px;
  }

  &[data-fullwidth="true"] {
    max-width: 100%;
  }

  &[data-disabled="true"] {
    background: $gray;

    &:active {
      background: $gray;
      transform: none;

      animation: 0.2s 1 normal errorBtn;
    }
  }

  .children {
    display: block;
  }
}

@keyframes errorBtn {
  from {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}
