@import "styles";

.profile {
  display: flex;
  justify-content: space-between;

  .sidebar {
    max-width: 300px;
    width: 100%;

    .user {
      padding: 12px;
      border: 1px solid $gray;
      border-radius: 8px;

      .info {
        .username {
          font-size: 24px;
          font-weight: 500;

          margin-bottom: 2px;
        }

        .email {
          font-size: 18px;
          font-weight: 600;

          margin-bottom: 2px;
        }

        .role {
          font-size: 16px;

          margin-bottom: 16px;
        }

        .phone {
          button {
            padding: 12px 16px;

            font-size: 18px;
            font-weight: 600;
          }
        }


        .favorite {
          font-size: 16px;
          font-weight: 600;
          color: $primary;

          cursor: pointer;


          //margin-bottom: 4px;
        }

        .logout {
          color: $red;
          font-weight: 500;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .container {
    width: 100%;
    margin-left: 50px;
  }
}
