.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 2px solid #212121;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

.form {
  &__input {
    input {
      padding: 8px 20px;
      border-radius: 4px 0px 4px 0;
      border: 1.5px solid #212121;
      width: 250px;
      margin-bottom: 13px;

      &::placeholder {
        color: lighten(#212121, 30%);
        font-size: 14px;
        letter-spacing: 1px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__btn {
    padding: 5px 16px;
    border-radius: 8px;
    border: none;
    background-color: #212121;
    color: #fff;
  }
}
