@import "styles";

.card {
  width: 100%;

  margin: 0 10px 25px 0;

  &[data-size='default'] {
    max-width: 260px;
  }

  &[data-size='small'] {
    max-width: 170px;
  }

  &[data-size='medium'] {
    max-width: 230px;
  }

  &[data-size='large'] {
    max-width: 300px;
  }


  .photo {
    .img {
      cursor: pointer;
    }

    img {
      object-fit: cover;
    }

    .img,
    img {
      width: 100%;
      height: 180px;
    }
  }

  .info {
    .title {
      display: flex;
      justify-content: space-between;

      margin: 6px 0 4px;

      line-height: 18px;


      .name {
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
      }


    }

    .price {
      font-size: 16px;
      line-height: 18px;

      font-weight: 700;
    }

    .address {
      color: $blue;

      font-size: 14px;
    }
  }
}
