.icon {
  &[data-size="default"] {
    svg {
      width: 32px;
      height: auto;
    }
  }
  &[data-size="small"] {
    svg {
      width: 20px;
      height: auto;
    }
  }
  &[data-size="medium"] {
    svg {
      width: 48px;
      height: auto;
    }
  }
  &[data-size="large"] {
    svg {
      width: 56px;
      height: auto;
    }
  }
}
