.textareaContainer {
  textarea {
    border: 1px solid #273746;
    border-radius: 4px;
    padding: 12px 14px;

    max-width: 100%;
    width: 520px;

    font-family: inherit;

    font-size: 14px;

    resize: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      color: #3f4049;
      font-size: 14px;
    }

    &:hover {
      border-color: #121212;
    }
  }
}
