@import "styles";

.signupPage {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    display: flex;
    justify-content: center;

    margin-top: 16px;
  }
}

@media (max-width: $mediaMobile) {
  .signupPage {
    .container {
      width: 100%;
    }
  }
}
