@import "../../style/variables";

.item {
  max-width: 100%;
  width: 100%;

  margin-top: 12px;

  .body {
    display: flex;
  }

  section {
    margin-bottom: 64px;

    h3 {
      font-size: 26px;

      margin-bottom: 16px;
    }
  }

  .content {
    max-width: 710px;
    width: 100%;

    margin-right: 20px;
  }

  .itemType {
    font-size: 14px;
    color: $gray;

    margin-bottom: 8px;
  }

  .photos {
    background: $primary;
    height: 600px;
    width: 100%;
    img {
      height: 600px;
      object-fit: contain;
    }
  }

  .title,
  .price {
    font-size: 32px;
    font-weight: 600;

    margin-bottom: 16px;
  }

  .address {
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 32px;
  }

  .charactiristics {
    margin-left: 16px;
  }

  .sidebar {
    max-width: 470px;
    width: 100%;
  }
}
