@import "styles";

.inputContainer {
  input {
    border: 1px solid $primary;
    border-radius: 4px;
    padding: 12px;

    // max-width: 520px;
    width: 100%;

    font-family: inherit;

    font-size: 14px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      color: $gray;
      font-size: 13px;
      text-transform: lowercase;
    }

    &:hover {
      border-color: $gray;
    }
  }
}
