@import "styles";

.inputContainer {
  $borderRadius: 6px;

  input {
    border: 2px solid $input-border;
    border-radius: $borderRadius;
    padding: 8px 16px;
    width: 100%;

    font-family: inherit;

    font-size: 15px;
    line-height: 24px;

    border-radius: $borderRadius;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      color: $placeholder;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .3px;
    }

    &:hover {
      border-color: rgba(0, 0, 0, .7);
    }
  }
}
