@import "styles";

.inputContainer {
  input {
    border: 1.5px solid $gray;
    border-radius: 4px;
    padding: 8px 10px;

    // max-width: 520px;
    width: 100%;

    font-family: inherit;

    font-size: 14px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      color: $placeholder;
      font-size: 13px;
    }

    &:hover {
      border-color: $primary;
    }
  }
}
