
.items {
  margin: 24px 0;

  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));

}

.filterIcon {
  width: 32px;
}

@media (max-width: 600px) {
  .items {
    margin: 12px 0;
  }
}

@media (max-width: 600px) {
  .items {
    grid-template-columns:  repeat(auto-fit, minmax(150px, 1fr));
  }
}
