.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 25px;
      height: auto;
      margin-right: 10px;
    }
  }
}

.navbar {
  display: flex;
  &__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
