$black: #000;
$white: #fff;

$black-100: #121212;
$black-200: #212121;

$white-100: #fdfdfd;
$white-200: #fcfcfc;

//$primary: #4124ff;
$primary: #2048e8;
$primary-100: #351ed2;
$primary-200: #2048e8;
$secondary: #ec4a2e;

$red: #e74c3c;

$gray: #8F8f8f;
$gray-100: #252424;

//$placeholder: rgb(90, 90, 110);
$placeholder: rgb(109, 109, 164);

$button-border: #384652;
$input-border: #6a718a;

$blue: rgb(70, 138, 241);


