$black: #000;
$white: #fff;

$black-100: #121212;
$black-200: #212121;

$white-100: #fdfdfd;
$white-200: #fcfcfc;

$primary: #4124ff;
$secondary: #ec4a2e;

$red: #e74c3c;
$gray: #303030;

$placeholder: rgb(90, 90, 110);
