@import "styles";

.home {
  display: flex;
}

.filter {
  margin-right: 32px;
}

.items {

}

.filterIcon {
  width: 32px;
}

@media (max-width: $mediaMobile) {
  .items {
    margin: 12px 0;
  }
}

@media (max-width: $mediaMobile) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
