@import "styles";

.auth__form__container {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__welcome {
  font-size: 20px;
  font-weight: 500;
}

.auth__form {
}

.createAccount {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.error {
  text-align: center;
}

@media (max-width: $mediaMobile) {
  .auth__form {
    width: 100%;
  }
}
