.cart-item {
  padding: 5px 10px;
  border: 1px solid #151515;
  border-radius: 4px;
  display: flex;

  &__name {
    font-size: 15px;
    font-weight: 600;
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
  }

  &__delete {
    cursor: pointer;
  }

  :not(:last-child) {
    margin-right: 10px;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
